.streamster{
  font-family: 'streamster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.spartakus a, .spartakus p, .spartakus h1, .spartakus h2{
  font-family: 'spartakusregular','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font-menu a{
  font-size: 25px;
}

.menu{
  background-color: rgb(0, 0, 0);
  color:rgb(18, 145, 23);
  width: 100vw;
}

.navbar-light .navbar-nav .nav-link{
  color:rgb(18, 145, 23);

}
#main-menu{
  background-color: rgb(0, 0, 0);
}

#toggle-btn span{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2818, 145, 23, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#toggle-btn {
  border: 1px solid rgb(18, 145, 23);
}

#main-menu>.nav-link{
  color:rgb(18, 145, 23);  
}

body, html {
  height: 100vh !important;
  background-color: rgb(0, 0, 0)!important;
  background-attachment: fixed!important;
  background-size: auto!important;
}